<%= form_for :message, url: messages_path  do |f| %>
  <p>
    <p><%= f.label 'Message form' %></p>
    <p>Please add message here: <%= f.text_field :text %></p>
    <p>Destroy option <%= f.select(:destroy_option, ['1 hour', '1 visit'] ) %></p>
    <%= f.submit "Send" %>
  </p>
<% end %>